<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsw.mapper.CarMapper">
    <!-- 新增汽车（使用自增主键） -->
    <insert id="insertCar" parameterType="com.wsw.mapper.CarMapper" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_car (car_num, brand, guide_price, produce_time, car_type)
        VALUES (#{carNum}, #{brand}, #{guidePrice}, #{produceTime}, #{carType});
    </insert>
</mapper>